* {
	font-family: futura, serif;
	margin: 0;
	padding: 0;
}

svg {
	flex-shrink: 0;
}

input {
	outline: none;
	border: 1px solid wheat;
}

// @import "bootstrap/scss/bootstrap";
$primary: rgb(236, 236, 236);
$primaryDark:rgb(185, 185, 185);
$primaryDarkDark:rgb(156, 156, 156);
$secondary:#6c757d;
$secondaryDark:#636b72;
$secondaryDarkDark:#5d656d;
$blue: #00c3ff;
$blueDark: #00ade2;
$success: #00ff0d;
$danger: #dc3545;


@mixin inputGroup {
	border-radius: 4px;

	&>:first-child,
	&>label:first-of-type {
		border-top-left-radius: 4px;
		border-bottom-left-radius: 4px;
	}

	&>:last-child,
	&>label:last-of-type {
		border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;
	}

	&>:not(:first-child) {
		border-left: 0px solid #00ff0d !important;
	}

	&>* {
		border: 0;
	}
}

@mixin btn() {
	// background: rgba(187, 187, 187, 0.267);
	background: $secondary;
	color: $primary;
	// border: 1px solid $secondary;
	padding: 5px;

	&:hover {
		cursor: pointer;
		background: $secondaryDark;
	}

	&:active {
		background: $secondaryDarkDark;
	}
}

@mixin textInput {
	flex-grow: 1;
	background: transparent;
	border: 1px solid $secondary;
	color: $primary;

	&:focus-visible {
		box-shadow: 0px 0px 4px 0px rgb(136, 136, 136);
	}
}

html {
	min-height: 100vh;
	-webkit-app-region: drag;

	button,
	input {
		-webkit-app-region: no-drag;
		color: $primary;
	}

	// opacity: 0;
	body {
		/**
		 * 我迷幻了,為什麼100vh會出現一條奇怪的空白
		 */
		// max-height: 100vh;
		// min-height: 100vh;
		// background-color: $danger;
		// background-color: #a0b1ffb2;
		// background-color: rgba(139, 195, 147, 0.76);
		background-color: rgba(24, 24, 24, 0.931);
		height: 100vh;

		#root,
		#root>.container,
		.main {
			height: 100%;
		}

		.container {
			padding-left: 5%;
			padding-right: 5%;
		}

		.main {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			flex-wrap: nowrap;
			align-content: stretch;
			align-items: stretch;

			.totalLoader {
				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
				justify-content: center;
				align-content: center;
				align-items: center;
				// border-left: 0;
				// border-bottom: 0;
				position: fixed;
				top: 10px;
				left: 10px;
				z-index: 100;
				// line-height: 42px;
			}

			.urlBar {
				@include inputGroup();
				height: 30px;
				// position: sticky;
				width: 100%;
				flex-shrink: 0;
				// top: 32px;
				-webkit-app-region: no-drag;
				margin-top: 32px;
				margin-bottom: 15px;

				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
				justify-content: center;
				align-content: center;
				align-items: stretch;



				.urlInput {
					// border-bottom: 0;
					padding-left: 10px;
					@include textInput();
				}



				.btnStart {
					@include btn();

					&:hover {
						color: $blue;
					}

					&:active {
						color: $blueDark;
					}
				}

				.btnPaste {
					@include btn();

					&:hover {
						color: $primaryDark;
					}

					&:active {
						color: $primaryDarkDark;
					}
				}


			}

			.optionsArea {
				flex-shrink: 0;
				margin-bottom: 20px;
				// margin-top: 20px;

				// position: fixed;
				// bottom: 32px;
				user-select: none;
				display: flex;
				flex-direction: column;
				flex-wrap: nowrap;
				align-content: stretch;
				align-items: stretch;
				justify-content: center;

				input,
				label,
				button,
				div {
					-webkit-app-region: no-drag;
				}


				.selectors {
					color: $secondary;

					display: flex;
					flex-direction: row;
					flex-wrap: wrap;
					align-content: center;
					justify-content: space-evenly;
					align-items: center;
					width: 100%;

					input {
						display: none;
					}

					.contentSelector,
					.bonusSelector {
						display: flex;
						flex-direction: row;
						flex-wrap: nowrap;
						justify-content: center;
						align-content: center;
						align-items: center;
						// margin-top: 5px;
						// margin-bottom: 5px;
						margin: 5px;

						// border: 1px solid $secondary;
						@include inputGroup();

						.selectorOption {
							cursor: pointer;
							border: 1px solid $secondary;
							padding: 4px;

							// &:hover {
							// 	color: $primary;
							// 	background-color: inherit;
							// }

							&.checked {

								color: $primary;
								background-color: $secondary;
								// border: 0;
							}
						}

						.btn-check:checked+.selectorOption {
							color: $primary;
							background-color: $secondary;
						}
					}
				}

				// .option {
				// 	margin-bottom: 5px;

				// 	* {
				// 		border-color: $primary;
				// 		// color: $primary;
				// 	}

				// 	input[type=text] {
				// 		// display: inline;
				// 		background-color: transparent;
				// 	}

				// 	input[type=checkbox] {
				// 		cursor: pointer;
				// 	}

				// 	label#destPath,
				// 	label#historyFile,
				// 	label#cookieFile {
				// 		cursor: pointer;

				// 		&:hover {
				// 			// background-color: $danger;
				// 			text-shadow: 0px 0px 15px rgb(229, 255, 0);
				// 			// color: rgb(255, 208, 208);
				// 		}
				// 	}


				// 	.check-container {
				// 		border-bottom-left-radius: 4px !important;
				// 		border-top-left-radius: 4px !important;
				// 	}

				// 	svg {
				// 		width: 16px;
				// 		height: 16px;
				// 	}


				// }

				.options {
					display: flex;
					flex-direction: row;
					flex-wrap: wrap;
					justify-content: center;
					align-content: stretch;
					align-items: stretch;

					.optionWithInput {
						@media only screen and (max-width: 650px) {
							width: calc(100% - 10px);
						}

						width: calc(50% - 10px);
						// width: 310px;
						// margin-top: 5px;
						// margin-bottom: 5px;
						// margin: 5px;
						padding: 5px;
						color: $primary;
						display: flex;
						flex-direction: row;
						flex-wrap: nowrap;
						justify-content: flex-start;
						align-content: stretch;
						align-items: stretch;

						@include inputGroup();

						.checkButton {
							// @include btn();
							display: flex;
							flex-direction: row;
							flex-wrap: nowrap;
							justify-content: center;
							align-content: center;
							align-items: center;

							padding: 8px;
							border: 1px solid $secondary;

							cursor: pointer;
							&.checked {
								background-color: $secondary;
							}
						}

						.promptButton {
							display: flex;
							flex-direction: row;
							flex-wrap: nowrap;
							justify-content: center;
							align-content: center;
							align-items: center;

							padding: 3px 8px;
							// border: 1px solid $secondary;
							background: $secondary;

							&:hover {
								background: $secondaryDark;
							}

							&:active {
								background: $secondaryDarkDark;
							}

						}

						.input {
							display: flex;
							flex-direction: row;
							flex-wrap: nowrap;
							justify-content: center;
							align-content: center;
							align-items: center;
							@include textInput();
							padding: 0px 5px;
						}
					}
				}


			}

			.display-area {
				flex-grow: 1;
				overflow-y: scroll;
				width: 100%;
				margin-bottom: 15px;
				// font-size: 0.8em;
				font-size: 15px;
				-webkit-app-region: no-drag;

				.task {
					/**
					 * 不能在這裡禁止拖動,滾到上面去會導致頂條也拖不了
					 */
					// -webkit-app-region: no-drag;
					z-index: -999;
					color: #fff;
					margin-top: 5px;
					margin-bottom: 5px;
					border-radius: 4px;
					border: 1px solid $primaryDark;
					border-radius: 4px;
					// padding: 5px;

					// background-color: #6d767e88;
					display: flex;
					flex-direction: row;
					flex-wrap: nowrap;
					justify-content: flex-start;
					align-items: center;
					align-content: center;

					.leftcol {
						user-select: none;
						padding-top: 5px;
						padding-bottom: 5px;
						width: 30px;
						flex-shrink: 0;

						display: flex;
						flex-direction: column;
						flex-wrap: nowrap;
						justify-content: center;
						align-content: center;
						align-items: center;

						.statusIndicator {
							height: 30px;
							width: 16px;

							display: flex;
							flex-direction: column;
							flex-wrap: nowrap;
							justify-content: space-around;
							align-content: center;
							align-items: center;

							// padding: 5px;
							// &>* {
							// 	margin-left: 5px;
							// 	margin-right: 5px;
							// }
							.svgCloseError {
								color: $danger;
							}

							.svgCloseStopped {
								color: $secondary;
							}

							.svgPhoto {
								color: $success;
							}

							.svgSuccess {
								color: $success;
							}
						}
					}

					.midcol {
						user-select: none;
						padding-top: 5px;
						padding-bottom: 5px;
						width: 90px;
						flex-shrink: 0;

						display: flex;
						flex-direction: column;
						flex-wrap: nowrap;
						justify-content: center;
						align-content: center;
						align-items: center;

					}

					.rightcol {
						display: flex;
						flex-direction: column;
						flex-wrap: nowrap;
						align-content: center;
						justify-content: center;
						align-items: flex-start;

						// padding: 5px;
						flex-grow: 1;
						margin-right: 10px;
						margin-top: 5px;
						margin-bottom: 5px;

						@mixin info {
							display: flex;
							flex-direction: row;
							flex-wrap: nowrap;
							justify-content: flex-start;
							align-content: center;
							align-items: center;

							margin: 5px;

							svg {
								margin-right: 5px;
							}
						}

						.infoTitle {
							@include info();
						}

						.infoOther {
							@include info();
							color: $blue;
						}

						.infoError {
							@include info();
							color: $danger;
						}

						// .progress {

						// 	width: 100%;
						// 	// background-color: $secondary;
						// 	background-color: $blue;
						// 	// border-left: 0;
						// 	// border-right: 0;
						// 	// border-bottom: $darkBlue 1px solid;
						// 	// border-top: $darkBlue 1px solid;
						// 	border: 0;
						// 	// outline: 1px $darkBlue solid;
						// 	height: 1px;
						// 	// border-top-right-radius: 0px;
						// 	// border-top-left-radius: 0px;
						// 	border-radius: 0;

						// 	.progress-bar {
						// 		background-color: $success;
						// 	}
						// }
						.progressBar {
							margin: 5px;
						}
					}

					.rightMostCol {
						user-select: none;
						display: flex;
						flex-direction: row;
						flex-wrap: nowrap;
						justify-content: center;
						align-content: center;
						align-items: center;

						// height: 100%;
						/**
						 * %用不了,可以用align-self
						 */
						align-self: stretch;
						width: 30px;
						/**
						 * 這個多加加,不然坍縮會很怪
						 */
						flex-shrink: 0;

						&:hover {
							cursor: pointer;

							.svgClose {
								color: $danger;
								// &:
							}

							.svgRemove {
								color: $danger;
								;
							}
						}
					}



				}
			}
		}

		.trafficLight {
			-webkit-app-region: no-drag;
			position: fixed;
			top: 0;
			right: 0;
			// border-radius: 0;
			// border: 0;

			// @include inputGroup();

			button {
				@include btn();
				border: 0;
				// height: 25px;
				// width: 25px;
				// border-radius: 0 !important;
				background: transparent;
				line-height: 0;
			}
		}

		// .input-url {
		// 	width: 80%;
		// }
	}
}


::-webkit-scrollbar {
	/*滚动条整体样式*/
	width: 0px;
	/*高宽分别对应横竖滚动条的尺寸*/
	/* 高度0相當於禁用了橫向滾動條 */
	height: 0px;
}

::-webkit-scrollbar-thumb {
	/*滚动条里面小方块*/
	/* border-radius: 10px; */
	/* box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2); */
	background: $secondary;

}

::-webkit-scrollbar-track {
	/*滚动条里面轨道*/
	/* box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2); */
	/* border-radius: 10px; */
	background: transparent;
}

.no-scrollbar::-webkit-scrollbar {
	/*滚动条整体样式*/
	width: 0px;
}