* {
	font-family: futura, serif;
}

// @import "bootstrap/scss/bootstrap";
$primary: #0d6efd;
$darkBlue: #0019fb;
$success: #00ff0d;
$secondary:#6c757d;
$danger: #dc3545;

html {
	min-height: 100vh;
	-webkit-app-region: drag;

	button,
	input {
		-webkit-app-region: no-drag;
	}

	// opacity: 0;
	body {
		/**
		 * 我迷幻了,為什麼100vh會出現一條奇怪的空白
		 */
		// max-height: 100vh;
		// min-height: 100vh;
		// background-color: $danger;
		// background-color: #a0b1ffb2;
		// background-color: rgba(139, 195, 147, 0.76);
		background-color: #a0b1ffb2;
		height: 100vh;

		#root,
		#root>.container,
		.main {
			height: 100%;
		}

		.main {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			flex-wrap: nowrap;
			align-content: flex-start;
			align-items: center;

			.url-area {
				// position: sticky;
				flex-shrink: 0;
				// top: 32px;
				-webkit-app-region: no-drag;
				margin-top: 32px;
				margin-bottom: 15px;

				.input-url {
					border-bottom: 0;
					// z-index: -100;
				}

				.loading {
					border-left: 0;
					border-bottom: 0;
					position: absolute;
					top: 0;
					right: 125px;
					z-index: 100;
					line-height: 42px;
				}
			}

			.control-area {
				flex-shrink: 0;
				margin-bottom: 20px;
				// margin-top: 20px;

				// position: fixed;
				// bottom: 32px;
				user-select: none;
				display: flex;
				flex-direction: column;
				flex-wrap: nowrap;
				align-content: center;
				align-items: center;
				justify-content: center;

				input,
				label,
				button {
					-webkit-app-region: no-drag;
				}

				.option {
					margin-bottom: 5px;

					* {
						border-color: $primary;
						// color: $primary;
					}

					input[type=text] {
						// display: inline;
						background-color: transparent;
					}

					input[type=checkbox] {
						cursor: pointer;
					}

					label#destPath,
					label#historyFile,
					label#cookieFile {
						cursor: pointer;

						&:hover {
							// background-color: $danger;
							text-shadow: 0px 0px 15px rgb(229, 255, 0);
							// color: rgb(255, 208, 208);
						}
					}


					.check-container {
						border-bottom-left-radius: 4px !important;
						border-top-left-radius: 4px !important;
					}

					svg {
						width: 16px;
						height: 16px;
					}
				}

				.button-option {
					display: flex;
					flex-direction: row;
					flex-wrap: wrap;
					align-content: center;
					justify-content: space-evenly;
					align-items: center;
					width: 100%;

					.contentSelector,
					.bonusSelector {
						margin-bottom: 10px;
					}
				}



			}

			.display-area {
				overflow-y: scroll;
				width: 100%;
				margin-bottom: 15px;

				.multimode-task {
					-webkit-app-region: no-drag;
					margin-bottom: 20px;

					// background-color: #6d767e88;
					display: flex;
					flex-direction: column;
					flex-wrap: nowrap;
					align-content: stretch;
					justify-content: space-between;
					align-items: center;
					border-radius: 4px;
					border: 1px solid $darkBlue;

					&>:nth-child(2) {
						border-top: 1px solid $darkBlue;
					}

					svg {
						height: 16px;
						width: 16px;
					}

					.upperrow {
						min-height: 32px;
						line-height: 32px;
						width: 100%;
						display: flex;
						flex-direction: row;
						flex-wrap: nowrap;
						align-content: center;
						justify-content: space-evenly;
						align-items: stretch;
						// border-top: 1px solid $darkBlue;

						/**
					 * kanpeki!!perfectly add seperate line
					 */
						&>:nth-child(2),
						&>:nth-child(3),
						&>:nth-child(4) {
							border-left: 1px solid $darkBlue;
						}

						&>* {
							padding-left: 5px;
							padding-right: 5px;

							display: flex;
							flex-direction: row;
							flex-wrap: nowrap;
							align-content: center;
							justify-content: flex-start;
							align-items: center;
						}

						.info-other,
						.info-error {
							width: 100%;
						}

						.info-thumbnail {
							color: $success;
						}

						.info-other {
							color: $darkBlue;
						}

						.info-error {
							color: $danger;
						}

						.click-stop {
							color: aqua;
							cursor: pointer;
							transition: 0.15s;
							user-select: none;

							&:hover {
								// background-color: $danger;
								text-shadow: 0px 0px 10px rgb(255, 0, 0);
								// color: rgb(255, 208, 208);
							}
						}

						.info-finished {
							user-select: none;
							color: $success;
						}

						.info-stopped {
							user-select: none;
							color: $secondary;
						}

						.info-erroroccured {
							user-select: none;
							color: $danger;
						}
					}

					.lowerrow {
						min-height: 32px;
						line-height: 32px;
						width: 100%;
						display: flex;
						flex-direction: row;
						flex-wrap: nowrap;
						align-content: center;
						justify-content: flex-start;
						align-items: stretch;

						.info-percent,
						.info-speed,
						.info-size,
						.info-eta,
						.info-speed {
							min-width: 60px;
							border-right: 1px solid $darkBlue;
							text-align: center;
							/**
						 * kanpeki!!perfectly make these box won't shrink
						 */
							flex-shrink: 0;
						}

						.info-title {
							/* empty */
						}

						.info-percent,
						.info-speed,
						.info-size,
						.info-eta,
						.info-speed,
						.info-title {
							color: $darkBlue;
							padding-left: 5px;
							padding-right: 5px;

							display: flex;
							flex-direction: row;
							flex-wrap: nowrap;
							align-content: center;
							justify-content: center;
							align-items: center;

						}
					}

				}
			}
		}

		.overlay {
			-webkit-app-region: no-drag;
			position: fixed;
			top: 0;
			right: 0;

			button {
				line-height: 0;
			}
		}

		// .input-url {
		// 	width: 80%;
		// }
	}
}


::-webkit-scrollbar {
	/*滚动条整体样式*/
	width: 0px;
	/*高宽分别对应横竖滚动条的尺寸*/
	/* 高度0相當於禁用了橫向滾動條 */
	height: 0px;
}

::-webkit-scrollbar-thumb {
	/*滚动条里面小方块*/
	/* border-radius: 10px; */
	/* box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2); */
	background: $secondary;

}

::-webkit-scrollbar-track {
	/*滚动条里面轨道*/
	/* box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2); */
	/* border-radius: 10px; */
	background: transparent;
}

.no-scrollbar::-webkit-scrollbar {
	/*滚动条整体样式*/
	width: 0px;
}